# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/
static/admin/*.bundle.*
*.log

# Editors
/.idea
*.swp
*.swo
*.kate-swp

# File Managers
.DS_Store
.directory
Thumbs.db
