.index-page-body {
  background-image: linear-gradient(to bottom right, rgba(61, 136, 180, 0.7), rgba(35, 67, 114, 0.4)),
    url('../images/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 150px);
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.index-page-body .container {
  color: white;
  margin-left: 1rem;
}
.index-page-body a,
.index-page-body a:hover {
  color: RGB(253, 29, 0);
}

.index-page-body .jscampcontainer {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
}

.index-page-body .headline {
  margin-top: 20px;
}

.index-page-body .headline a {
  color: #76cbe4;
}
