.GlobalFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 8px 0;
  background-color: #f5f5f5;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
