.meetup .card {
  min-height: 240px;
}
.card-text {
  font-weight: lighter;
  margin-bottom: 0.7rem;
}
.meetup .btn {
  position: absolute;
  font-weight: lighter !important;
  bottom: 1rem;
}
.meetup .badge-pill {
  font-weight: normal;
  float: right;
}
.general {
  background-color: #ebecee;
}
.frontend {
  background-color: #66e0ff;
}
.backend {
  background-color: #ff808a;
}
.mobile {
  background-color: #67fabf;
}
.meetup .badge-light {
  background-color: #ebecee !important;
}
.memberCount {
  font-weight: normal;
  font-size: 0.75rem;
  color: #4d4d4d;
}

@media screen and (max-width: 1200px) {
  .meetup .card {
    min-height: 260px;
  }
}

@media screen and (max-width: 992px) {
  .meetup h5 {
    font-size: 0.88rem !important;
  }
  .card-text {
    font-size: 0.88rem;
  }
}

@media screen and (max-width: 768px) {
  .meetup h5 {
    font-size: 1rem !important;
  }
  .meetup h5 span {
    margin-right: 0.5rem;
  }
  .card-text {
    font-size: 0.85rem;
  }
  .meetup .badge-pill {
    float: none;
  }
  .meetup .badge-light {
    font-size: 0.6rem;
  }
  .memberCount {
    font-size: 0.5rem;
  }
  .meetup .card {
    min-height: 310px;
  }
}

@media screen and (max-width: 575px) {
  .meetup h5 {
    font-size: 1rem !important;
  }
  .meetup h5 span {
    margin-right: 0.5rem;
  }
  .meetup .badge-pill {
    float: right;
    margin-left: 0;
  }
  .meetup .card {
    min-height: 290px;
  }
  .card-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 415px) {
  .meetup p {
    font-size: 0.9rem !important;
  }
  .meetup .badge-pill {
    float: none;
  }
  .meetup .card {
    min-height: 275px;
  }
}
