.Job-Contianer {
  padding: 1em;
  background-color: #ffffff;
}

.Job-Contianer-title {
  border-bottom: 2px solid #d3d3d3;
  margin-bottom: 1.2em;
}

.Post-container {
  display: flex;
  flex-direction: row;
  background-color: #f0f2fa;
  padding: 0.5em;
  border-radius: 5px;
  border-left: solid 5px #b20000;
  width: 100%;
  margin-bottom: 0.5em;
}

.Post-type-container {
  /* height: 100%;
  width: 0.2%;
  background-color: #000000; */
}

.Post-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2em;
  margin-left: 2em;
}
.Post-logo {
  display: block;
  height: 8em;
  width: 8em;
}

.Post-info {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  width: 100%;
  /*for seperating the logo*/
}

.Post-info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Post-sub-info {
  display: flex;
  flex-direction: row;
}

.Post-info-left {
}
.Post-info-right {
  text-align: end;
}

.Post-detailsContainer {
  /* display: flex;
  flex-direction: row; */
}

.Post-job-title {
  /* margin-right: 1em; */
}
